# Chapter 3: List

A list is a collection of items.

In [1]:
bicycles = ['trek','cannondale','redline','specialized']
print(bicycles)

['trek', 'cannondale', 'redline', 'specialized']

In [2]:
print(bicycles[0])

trek

In [3]:
print(bicycles[0].title())

Trek

In [9]:
print(bicycles[-2])

redline

In [11]:
message = f"My first bicycle was a {bicycles[0].title()}."
print(message)

My first bicycle was a Trek.

**Practice 1**

In [14]:
names = ['Chen','May','Mind','Fai','Tong']
text = f"{names[3].title()} is a very sacrastic and funny person."
print(text)

Fai is a very sacrastic and funny person.

## Modifying, Adding, Removing elements

Most lists are dynamic. You can build a list and then add and remove elements.

In [15]:
motocycles = ['honda','yamaha','suzuki']

In [18]:
motocycles[0] = 'ducati'
print(motocycles)

['ducati', 'yamaha', 'suzuki']

In [21]:
motocycles = ['honda','yamaha','suzuki']
motocycles.append('ducati')
print(motocycles)

['honda', 'yamaha', 'suzuki', 'ducati']

In [22]:
motorcycles = []

motorcycles.append('honda')
motorcycles.append('yamaha')
motorcycles.append('suzuki')

print(motorcycles)

['honda', 'yamaha', 'suzuki']

In [23]:
motorcycles.insert(0, 'ducati')
print(motorcycles)

['ducati', 'honda', 'yamaha', 'suzuki']

### Removing an item

1.) Removing by index

In [24]:
del motorcycles[0]
print(motorcycles)

['honda', 'yamaha', 'suzuki']

2.) Removing the **last item** by pop() method and store it to use it later

In [28]:
motorcycles = ['honda','yamaha','suzuki']
print(motorcycles)
popped_motorcycle = motorcycles.pop()
print(motorcycles)
print(popped_motorcycle)

['honda', 'yamaha', 'suzuki']
['honda', 'yamaha']
suzuki

In [33]:
motorcycles = ['honda','yamaha','suzuki']
last_owned = motorcycles.pop()
print(f"My last motorcycle brand was a {last_owned.title()}.")

My last motorcycle brand was a Suzuki.

In [36]:
motorcycles = ['honda','yamaha','suzuki']
first_owned = motorcycles.pop(0)
print(f"My first owned motorcycle was a {first_owned.title()}.")

My first owned motorcycle was a Honda.

### Removing an item by value

In [37]:
motorcycles = ['honda','yamaha','suzuki','ducati']
print(motorcycles)

motorcycles.remove('ducati')
print(motorcycles)

['honda', 'yamaha', 'suzuki', 'ducati']
['honda', 'yamaha', 'suzuki']

In [42]:
motorcycles = ['honda','yamaha','suzuki','ducati']
too_expensive = 'ducati'
motorcycles.remove(too_expensive)
print(motorcycles)
print(f'\n A {too_expensive.title()} is too expensive for me') # \n is new line

['honda', 'yamaha', 'suzuki']

 A Ducati is too expensive for me

In [50]:
motorcycles = ['honda','yamaha','suzuki','suzuki']
print(motorcycles)

motorcycles.remove('suzuki')
print(motorcycles)

print('\n remove() only remove the first occurence word')

['honda', 'yamaha', 'suzuki', 'suzuki']
['honda', 'yamaha', 'suzuki']

 remove() only remove the first occurence word

You will need to tuse a loop to make sure all occurences of the values are removed.

**Pracetice 2**

3-4 Guest list

In [52]:
guest_list = ['Beyonce','Joey','Chandler']
print(f'\n Hi {guest_list[0]}, your music helps me! let me treat you a nice dinner')
print(f'\n How are you doing {guest_list[1]}?')

 Hi Beyonce, your music helps me! let me treat you a nice dinner

 How are you doing Joey?

3-5 Changing guests

In [56]:
guest_list = ['Beyonce','Joey','Chandler']
print(f' so {guest_list[0]} cannot make it...')
guest_list[0] = 'Rachel'
print(f' {guest_list[0]} will come instead if you guys do not mind')

 so Beyonce cannot make it...
 Rachel will come instead if you guys do not mind

3-6 More guests

In [61]:
guest_list = ['Beyonce','Joey','Chandler']
guest_list.insert(0,'Monica')
print(guest_list)
guest_list.insert(2,'Ross') # use 2 since the position starts from 0 
print(guest_list)

['Monica', 'Beyonce', 'Joey', 'Chandler']
['Monica', 'Beyonce', 'Ross', 'Joey', 'Chandler']

3-7 shrinking guest list

In [76]:
guest_list = ['Monica', 'Beyonce', 'Ross', 'Joey', 'Chandler']
p1 = guest_list.pop()
print(f'I am so sorry to cancel the invitation {p1}.')
p2 = guest_list.pop()
print(f'I am sorry we do not host anymore {p2}.')
p3 = guest_list.pop()
print(f'I am sorry sorry but Monica do not want to eat with u {p3}.')
print(f'\nBtw You are still invited {guest_list[1]}')
print(f'You have a chance to eat with {guest_list[1]} {guest_list[0]}.')
print(guest_list)
del guest_list[0:2] # delete 0 and 1 position 
print(guest_list)

I am so sorry to cancel the invitation Chandler.
I am sorry we do not host anymore Joey.
I am sorry sorry but Monica do not want to eat with u Ross.

Btw You are still invited Beyonce
You have a chance to eat with Beyonce Monica.
['Monica', 'Beyonce']
[]

### Organizing a list

**Alphabetically**

Affect the **original order** of the list with .sort()

In [77]:
cars = ['bmw','audi','toyota','subaru']
cars.sort()
print(cars)

['audi', 'bmw', 'subaru', 'toyota']

In [78]:
cars.sort(reverse = True)
print(cars)

['toyota', 'subaru', 'bmw', 'audi']

Not affect the original order of the list with sorted() function

In [79]:
cars = ['bmw','audi','toyota','subaru']
print('here is the original list:')
print(cars)

print('\nHere is the sorted list:')
print(sorted(cars))

print('\nHere is the original list again:')
print(cars)

here is the original list:
['bmw', 'audi', 'toyota', 'subaru']

Here is the sorted list:
['audi', 'bmw', 'subaru', 'toyota']

Here is the original list again:
['bmw', 'audi', 'toyota', 'subaru']

**Chronological order** : can reverse back and forth if you want the original order

In [80]:
cars = ['bmw','audi','toyota','subaru']
print(cars)

cars.reverse()
print(cars)

['bmw', 'audi', 'toyota', 'subaru']
['subaru', 'toyota', 'audi', 'bmw']

length of a list

In [81]:
len(cars)

4

**Practice 3**

**3-8** seeing the world

In [90]:
loc = ['Turkey','Hungary','China','Spain']
print(loc)

['Turkey', 'Hungary', 'China', 'Spain']

In [85]:
print(sorted(loc))

['China', 'Hungary', 'Spain', 'Turkey']

In [86]:
print(sorted(loc,reverse = True))

['Turkey', 'Spain', 'Hungary', 'China']

In [95]:
loc = ['Turkey','Hungary','China','Spain']
print(loc)
loc.reverse() # cannot use print(loc.reverse()) since loc change 
print(loc)
loc.reverse()
print(loc)

['Turkey', 'Hungary', 'China', 'Spain']
['Spain', 'China', 'Hungary', 'Turkey']
['Turkey', 'Hungary', 'China', 'Spain']

In [97]:
loc.sort()
print(loc)
loc.sort(reverse = True)
print(loc)

['China', 'Hungary', 'Spain', 'Turkey']
['Turkey', 'Spain', 'Hungary', 'China']

**3-9** dinner guest!

In [101]:
guest_list = ['Monica', 'Beyonce', 'Ross', 'Joey', 'Chandler']
print(len(guest_list))
guest_list.pop(0)
print(f'After we pop we got {len(guest_list)} left')

5
After we pop we got 4 left

**3-10** every function

In [108]:
language_list = ['Python','SQL','English','Thai','Chinese']
print(language_list)
language_list.sort()
print(language_list)
language_list.reverse()
print(language_list)
print(sorted(language_list))

['Python', 'SQL', 'English', 'Thai', 'Chinese']
['Chinese', 'English', 'Python', 'SQL', 'Thai']
['Thai', 'SQL', 'Python', 'English', 'Chinese']
['Chinese', 'English', 'Python', 'SQL', 'Thai']

In [113]:
language_list = ['Python','SQL','English','Thai','Chinese']
language_list.append('C++')
print(language_list)
language_list.insert(0, 'Spanish')
print(language_list)

['Python', 'SQL', 'English', 'Thai', 'Chinese', 'C++']
['Spanish', 'Python', 'SQL', 'English', 'Thai', 'Chinese', 'C++']

In [122]:
language_list = ['Python','SQL','English','Thai','Chinese']
print(language_list)
del language_list[4]
print(language_list)
thai = language_list.pop(3)
print(language_list)
print(f'\n My native language is {thai}.')
eng = 'English'
language_list.remove(eng)
print(f'\n My second language is {eng}.')

['Python', 'SQL', 'English', 'Thai', 'Chinese']
['Python', 'SQL', 'English', 'Thai']
['Python', 'SQL', 'English']

 My native language is Thai

 My second language is English.

### ERROR

In [123]:
motorcycle = ['honda','yamaha','suzuki']
print(motorcycle[3])

IndexError: list index out of range

In [125]:
motorcycle = []
print(motorcycle[-1])

IndexError: list index out of range

In [127]:
print(len(motorcycle))
print(motorcycle)

0
[]

# Chapter 4: working with lists
Focus first on writing code that you understand clearly, and does what you want it to do.
Then look for more efficient approaches as you review your code.

## Looping through an entire list

looping is important because it's one of the most common ways a computer automates repetitive tasks.

In [1]:
magicians = ['alice','david','carolina']
for magician in magicians:
    print(magician)

alice
david
carolina

In [2]:
magicians = ['alice','david','carolina']
for magician in magicians:
    print(f"{magician.title()}, that was a great trick!")

Alice, that was a great trick!
David, that was a great trick!
Carolina, that was a great trick!

In [9]:
for magician in magicians:
    print(f"{magician.title()}, that was a great trick!")
    print(f" I cannot wait to see your next trick, {magician.title()}\n")

Alice, that was a great trick!
 I cannot wait to see your next trick, Alice

David, that was a great trick!
 I cannot wait to see your next trick, David

Carolina, that was a great trick!
 I cannot wait to see your next trick, Carolina

In [10]:
for magician in magicians:
    print(f"{magician.title()}, that was a great trick!")
    print(f" I cannot wait to see your next trick, {magician.title()}\n")
print("Thank you everyone")

Alice, that was a great trick!
 I cannot wait to see your next trick, Alice

David, that was a great trick!
 I cannot wait to see your next trick, David

Carolina, that was a great trick!
 I cannot wait to see your next trick, Carolina

thank you everyone

Codes **Inside** the indentation will be repeated. Outside codes are executed once without repetition.

In [12]:
for magician in magicians:
    print(f"{magician.title()}, that was a great trick!")
    print(f" I cannot wait to see your next trick, {magician.title()}\n")
    print("Thank you everyone")

Alice, that was a great trick!
 I cannot wait to see your next trick, Alice

Thank you everyone
David, that was a great trick!
 I cannot wait to see your next trick, David

Thank you everyone
Carolina, that was a great trick!
 I cannot wait to see your next trick, Carolina

Thank you everyone

In [11]:
for magician in magicians:
    print(f"{magician.title()}, that was a great trick!")
print(f"I can't wait to see your next, {magician.title()}\n") #logical error

Alice, that was a great trick!
David, that was a great trick!
Carolina, that was a great trick!
I can't wait to see your next, Carolina

**Practice 1**

**4-1**: Pizzas

In [13]:
pizzas = ['four cheese pizza','Hawaiian','Peporoni','Magarita']
for pizza in pizzas:
    print(f"Today I am going to eat {pizza.title()}\n")
print(f"i really love pizza!")

Today I am going to eat Four Cheese Pizza

Today I am going to eat Hawaiian

Today I am going to eat Peporoni

Today I am going to eat Magarita

i really love pizza!

In [16]:
animals = ['cat','dog','pig']
for animal in animals:
    print(f"I love {animal.title()}")
    print(f"It would make a great pet :D\n")

I love Cat
It would make a great pet :D

I love Dog
It would make a great pet :D

I love Pig
It would make a great pet :D

### Making Numerical lists

**range()** function

In [17]:
for value in range(1,5):
    print(value)

1
2
3
4

In [19]:
for value in range(5):
    print(value)

0
1
2
3
4

make a list directly

In [20]:
numbers = list(range(1,6))
print(numbers)

[1, 2, 3, 4, 5]

In [21]:
even_numbers = list(range(2,11,2)) # add 2 repeatedly 
print(even_numbers)

[2, 4, 6, 8, 10]

Make a list of the first 10 square numbers

In [24]:
squares = []
for value in range(1,11):
    square = value ** 2
    squares.append(square)
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [25]:
squares = []
for value in range(1,11):
    squares.append(value**2)
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### Statistics with a list of numbers

In [27]:
digits = [1,2,3,4,5,6,7,8,9,0]
print(min(digits))
print(max(digits))
print(sum(digits))

0
9
45

### List Comprehensions:
combine the for loop + the creation of new elements into one line, and automatically appends each new element.

In [28]:
squares = [value**2 for value in range(1,11)] # no colon
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

**Practice 2**

**4-3**: Counting to Twenty

In [29]:
for num in range(1,21):
    print(num)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

**4-4**: One Million

In [3]:
#for num in list(range(1,1000001)):
   # print(num)

In [37]:
numbers = list(range(1,1000001))
print(max(numbers))
print(min(numbers))
print(sum(numbers))

1000000
1
500000500000

4-6: odd numbers

In [44]:
for num in list(range(1,21,2)):
    print(num)

1
3
5
7
9
11
13
15
17
19

4-7 Threes

In [50]:
multiple = []
for num in range(3,31):
    mul = num*3
    multiple.append(mul)
print(multiple)

[9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90]

4-8 Cubes

In [51]:
cubes = []
for num in range(1,11): 
    mul = num**3
    cubes.append(mul)
print(cubes)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

4-9 Cube comprehension

In [53]:
cubes = [val**3 for val in range(1,11)]
print(cubes)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

## Working with part of a list

### Slicing a list

In [65]:
players = ['charles','martina','michael','florence','eli']
print(players[0:3]) # exclude the last position (3)
print(players[:3]) # show position 0,1,2
print(players[1:3])
print(players[1:])
print(players[-3:]) # the last three players
print(players[0::2]) # skip 1 person

['charles', 'martina', 'michael']
['charles', 'martina', 'michael']
['martina', 'michael']
['martina', 'michael', 'florence', 'eli']
['michael', 'florence', 'eli']
['charles', 'michael', 'eli']

looping through a slice

In [66]:
print("Here are the first three players on my team:")
for player in players[:3]:
    print(player.title())

Here are the first three players on my team:
Charles
Martina
Michael

### Copying a list 
([:]) tells Python to make a slice that starts at the first item and ends with the last item.

In [70]:
my_foods = ['pizza','falafel','carrot cake']
friend_foods = my_foods[:]

print ("my fave foods are:")
print(my_foods)

print("\nMy friend's fave foods are:")
print(friend_foods)

my fave foods are:
['pizza', 'falafel', 'carrot cake']

My friend's fave foods are:
['pizza', 'falafel', 'carrot cake']

confirm thaat it really separated list!

In [71]:
my_foods.append('cannoli')
friend_foods.append('ice cream')

print(my_foods)
print(friend_foods)

['pizza', 'falafel', 'carrot cake', 'cannoli']
['pizza', 'falafel', 'carrot cake', 'ice cream']

if you dont have ':' it is not a separaate list. it is the same list!

In [76]:
my_foods = ['pizza','falafel','carrot cake']
friend_foods = my_foods

my_foods.append('cannoli')
friend_foods.append('ice cream')

print(f"Here is the list of my foods{my_foods}")
print(f"Here is the list of my friend foods {friend_foods}\n")

print("it is now the same list with two names! so you need to be careful not to forget : ")

Here is the list of my foods['pizza', 'falafel', 'carrot cake', 'cannoli', 'ice cream']
Here is the list of my friend foods ['pizza', 'falafel', 'carrot cake', 'cannoli', 'ice cream']

it is now the same list with two names! so you need to be careful not to forget :

**Practice 3**

4-10 Slices

In [85]:
item = ['strawberry cake', 'capuccino', 'water', 'donuts', 'whipped cream', 'eggplants', 'shrimp']
print(f"The first three items are{item[:3]}")
print(f"Three items in the middle of the list are{item[2:5]}")
print(f"The last three items are{item[4:7]}")

The first three items are['strawberry cake', 'capuccino', 'water']
Three items in the middle of the list are['water', 'donuts', 'whipped cream']
The last three items are['whipped cream', 'eggplants', 'shrimp']

4-11 My Pizzas, Your Pizzas:

In [87]:
pizzas = ['Four Cheese','Hawaiian','Peporoni','Magarita']
friend_pizzas = pizzas[:]
pizzas.append('chocolate')
print(f"my pizzas are:")
print(pizzas)
print(f"my friend's pizza list is:")
print(friend_pizzas)

my pizzas are:
['Four Cheese', 'Hawaiian', 'Peporoni', 'Magarita', 'chocolate']
my friend's pizza list is:
['Four Cheese', 'Hawaiian', 'Peporoni', 'Magarita']

4-12 More loops

In [96]:
print("This is a list of my pizza")
for pizza in pizzas:
    print(pizza)
print("\nThis is a list of item")
for i in item:
    print(i)

This is a list of my pizza
Four Cheese
Hawaiian
Peporoni
Magarita
chocolate

This is a list of item
strawberry cake
capuccino
water
donuts
whipped cream
eggplants
shrimp

## Tuples
It is an **immutabe** list :D. 

Use it when you want to store a set of values that should not be changed through out the life of a program.

In [101]:
dimensions = (200,50)
print(dimensions[0])
print(dimensions[1])
print(dimensions)

200
50
(200, 50)

In [98]:
dimensions[0] = 250

TypeError: 'tuple' object does not support item assignment

If you want to create a tuple with one element, you need to include a comma:

In [100]:
my_t = (3,)
print(my_t)

(3,)

### Looping through all values in a Tuple

In [103]:
dimensions = (200,50)
for dimension in dimensions:
    print(dimension)

200
50

###  Writing over a tuple 
Although we cannot modify a tuple, we can assign a new value to a previous variable

In [104]:
dimensions = (200,50)
print("Original dimensions:")
for dimension in dimensions:
    print(dimension)
dimensions = (400,100)
print("\nModified dimensions:")
for dimension in dimensions:
    print(dimension)

Original dimensions:
200
50

Modified dimensions:
400
100

**Practice 4**

**4-13** Buffet:

In [110]:
buffet = ('foie gras','salmon sashimi','caramel biscuit ice cream','lamb chops','four cheese pizza')
for food in buffet:
    print(food.title())

Foie Gras
Salmon Sashimi
Caramel Biscuit Ice Cream
Lamb Chops
Four Cheese Pizza

In [111]:
buffet[2] = 'truffle pasta'

TypeError: 'tuple' object does not support item assignment

In [114]:
buffet = ('double cheese bacon burger','salmon sashimi','truffle pasta','lamb chops','four cheese pizza')
print("Here is the revised menu for the buffet program\n")
for food in buffet:
    print(food.title())

Here is the revised menu for the buffet program

Double Cheese Bacon Burger
Salmon Sashimi
Truffle Pasta
Lamb Chops
Four Cheese Pizza

### Styling Your Code

Encourage to write code that's easier to read. 
- Four spaces per indentation level and each line should be less than 80 characters. 
- Group parts of the program with blank lines.

# Chapter 5: IF STATEMENT

allows you to examine the current state of a program and respond appro-
priately to that state.

In [115]:
cars = ['audi','bmw','subaru','toyota']
for car in cars:
    if car == 'bmw':
        print(car.upper())
    else:
        print(car.title())

Audi
BMW
Subaru
Toyota

## Conditional Tests
If a conditional test evaluates to True, Python executes the code following the if statement. If the test evaluates to False, Python ignores the code following the if statement.

### checking for equality

In [116]:
car = 'Audi'
car == 'audi'

False

In [121]:
car = 'Audi'
print(car.lower() == 'audi')
print(car) # the value is not affected by lower() method

True
Audi

### checking for inequality

In [122]:
requested_topping = 'mushroom'

if requested_topping != 'anchovies':
    print('Hold the anchovies!')

Hold the anchovies!

### Numerical Comparisons

In [125]:
age = 8
age >9

False

In [124]:
ans = 17
if ans != 42:
    print("That is not the correct answer. Please try again!")

That is not the correct answer. Please try again!

### Checking Multiple Conditions

Using 'or' 'and' to check multiple conditions

In [126]:
age_0 = 22
age_1 = 18
age_0 >=21 and age_1 >= 21

False

In [130]:
age_0>=21 or age_1 >=21

True

checking if a value is in a list or not

In [131]:
requested_toppings = ['mushrooms','onions','pineapple']
'mushrooms' in requested_toppings

True

In [132]:
'peperoni' in requested_toppings

False

In [135]:
banned_users = ['andrew','carolina','david']
user = 'marie'
if user not in banned_users:
    print(f"{user.title()}, you can post a response")

Marie, you can post a response

the message pass since Marie is not in the list

### Boolean expressions (another name of conditional test)

a boolean value is either True or False

**Practice 1**

5-1 conditional tests

In [137]:
buffet = ['foie gras','salmon sashimi','caramel biscuit ice cream','lamb chops','four cheese pizza']
food = 'truffle pasta'
print(food == 'Hunan food')

False

In [140]:
if food not in buffet:
    print(f"{food.title()} is not in our list of buffet.")

Truffle Pasta is not in our list of buffet.

5-2 more tests

Tests for equality and inequality with strings

In [141]:
color = 'red'
color == 'blue'

False

In [142]:
bag = 'loewe'
bag.title() == 'Loewe'

True

In [149]:
my_friend = 'Rachel'

if my_friend != 'Monica':
    print('she is not my friend')

she is not my friend

 Tests using the lower() method

In [150]:
phone = 'APPLE'
phone.lower() == 'apple'

True

Numerical tests involving equality and inequality, greater than and less than, greater than or equal to, and less than or equal to

In [156]:
fig_0 = 5
fig_1 = 23

In [160]:
fig_0 == 0

False

In [163]:
fig_1 != 9

True

In [165]:
fig_0 > 2

True

Tests using the and keyword and the or keyword

In [162]:
fig_0 == 5 and fig_1>29

False

In [166]:
fig_0 == 5 or fig_1>29

True

Test whether an item is in a list

In [176]:
buffet = ['foie gras','salmon sashimi','caramel biscuit ice cream','lamb chops','four cheese pizza']
food1 = 'foie gras'
food1 in buffet

True

In [178]:
if food1 in buffet:
    print(f"{food1} is in the buffet list")

foie gras is in the buffet list

Test whether an item is not in a list

In [179]:
food2 = 'bananas'
food2 in buffet

False

In [180]:
if food2 not in buffet:
    print(f"{food2} is not in the buffet list")

bananas is not in the buffet list

## If Statements

**Simple if statement**

lines inside the indentation will be print out if the conditional test passes

In [2]:
age = 19
if age >= 18:
    print("You are old enough to vote!")
    print("Have you registered to vote yet?")

You are old enough to vote!
Have you registered to vote yet?

**If-else statements**

In [3]:
age = 17
if age >=18:
    print("You are old enough to vote!")
    print("Have you registered to vote yet?")
else: 
    print("Sorry, you are too young to vote")

Sorry, you are too young to vote

**If-elif-else chain**

In [4]:
age = 12
if age <4:
    print("Your admission fee is free of charge.")
elif age <18:
    print("Your admission cost is $25.")
else:
    print("Your admission cost is $40.")

Your admission cost is $25.

More concise to just put the **price** inside the if-elif-else chain. Instead of determining a price and displaying a message, it simply determines the admission price.

In [5]:
age = 12
if age <4:
    price = 0
elif age <18:
    price = 25
else:
    price =40
print(f"Your admission cost is ${price}")

Your admission cost is $25

**Using Multiple elif Blocks** we can use as many elif blocks in our code as we like!

In [8]:
age =12
if age <4:
    price = 0
elif age < 18:
    price = 25
elif age <65:
    price = 40
else:
    price = 20
print(f"Your admission cost is ${price}.")

Your admission cost is $25.

**Omitting the else block** sometimes it is clearer to use an additional elif statement that catches the specific condition of interest. Sometimes else can include invalid or malicious data.

In [ ]:
age =12
if age <4:
    price = 0
elif age < 18:
    price = 25
elif age <65:
    price = 40
elif:age >65:
    price = 20
print(f"Your admission cost is ${price}.")

**Testing multiple conditions**

- If you want only one block/one condition to run, use an if-elif-else chain.
- If you want more than one block of code/more than one conditions to meet, use series of independent if statements.

In [9]:
requested_toppings = ['mushroom','extra cheese']
if 'mushroom' in requested_toppings:
    print("Adding mushrooms")
if 'pepperoni' in requested_toppings:
    print("Adding pepperoni")
if 'extra cheese' in requested_toppings:
    print("Adding extra cheese.")
print("\nFinished making your pizza!")

Adding mushrooms
Adding extra cheese.

Finished making your pizza!

**Practice2**

5-3 Alien colors

In [20]:
alien_color = 'green'

In [22]:
if alien_color == 'red':
    print("you just earned 5 points")

In [21]:
if alien_color == 'green':
    print("you just earned 5 points")

you just earned 5 points

5-4 Alien Colors #2

In [1]:
alien_color = 'green'

In [2]:
if alien_color == 'green':
    print('You just earned 5 points')
else: 
    print('You just earned 10 points')

You just earned 5 points

5-5 Alien Colors #3

In [4]:
if alien_color == 'green':
    print('You just earned 5 points')
elif alien_color == 'yellow':
    print('You just earned 10 points')
elif alien_color == 'red':
    print('You just earned 15 points')

You just earned 5 points

5-6 Stages of Life

In [7]:
age = 55

In [8]:
if age <= 2:
    print('A baby')
elif 2 <= age <4:
    print('A toddler')
elif 4 <= age <13:
    print ('A kid')
elif 13 <= age <20:
    print('a teenager')
elif 20<= age <65:
    print('an adult')
elif age>= 65:
    print('an elder')

an adult

5-7 Favorite Fruit

In [10]:
favorite_fruits = ['apple','mango','papaya']

In [15]:
if 'apple' in favorite_fruits:
    print('you really like apple')
if 'mango' in favorite_fruits:
    print('you really like mango')
if 'papaya' in favorite_fruits:
    print('you really like papaya')

you really like apple
you really like mango
you really like papaya

###  Using if Statements with Lists

In [16]:
requested_toppings = ['mushroom','green peppers','extra cheese']

In [17]:
for requested_topping in requested_toppings:
    print(f"Adding {requested_topping}.")
print("\nFinished making your pizza!")

Adding mushroom.
Adding green peppers.
Adding extra cheese.

Finished making your pizza!

In [18]:
for requested_topping in requested_toppings:
    if requested_topping == 'green peppers':
        print("Sorry, we are out of green peppers right now.")
    else:
        print(f"Adding {requested_topping}.")
print("\nFinished making your pizza!")

Adding mushroom.
Sorry, we are out of green peppers right now.
Adding extra cheese.

Finished making your pizza!

we **loop** thorugh each value in the list.

### Checking that a list is not empty

create a statement to check if the list is empty if not then add

In [22]:
requested_toppings = []

if requested_toppings:
    for requested_topping in requested_toppings:
        print(f'Adding {requested_topping}.')
    print("\nFinished making your pizza!")
else:
    print("Are you sure you want a plain pizza?")

Are you sure you want a plain pizza?

### Using Multiple Lists

Use another list to make sure that the inputs make sense before you act on it

In [23]:
available_toppings = ['mushroom','olives','green peppers','peppornoni',
                     'pineapple','extra cheese']
requested_toppings = ['mushroom','french fries','extra cheese']

for requested_topping in requested_toppings:
    if requested_topping in available_toppings:
        print(f"Adding {requested_topping}.")
    else:
        print(f"Sorry, we don't have {requested_topping}.")
print("\nFinished making your pizza!")

Adding mushroom.
Sorry, we don't have french fries.
Adding extra cheese.

Finished making your pizza!

available_toppings can be a tuple if the pizzeria has a stable selection of toppings

**Practice 3**

**5-8 Hello admin**

In [25]:
names = ['admin','chen','shin','tong','may','mind']
for name in names: # first you loop 
    if name == 'admin': # then set the condition inside the loop
        print('hello admin, would you like to see a status report?')
    else:
        print(f'hello {name}, thank you for logging in again')

hello admin, would you like to see a status report?
hello chen, thank you for logging in again
hello shin, thank you for logging in again
hello tong, thank you for logging in again
hello may, thank you for logging in again
hello mind, thank you for logging in again

5-9 No users

In [ ]:
requested_toppings = []

if requested_toppings:
    for requested_topping in requested_toppings:
        print(f'Adding {requested_topping}.')
    print("\nFinished making your pizza!")
else:
    print("Are you sure you want a plain pizza?")

In [27]:
names = []

In [28]:
if names:
    for name in names:
        if name == 'admin':
            print('hello admin, would you like to see a status report?')
        else:
            print(f'hello {name}, thank you for logging in again')
else:
    print("we need to find some users!")

we need to find some users!

5-10 Checking Usernames

In [1]:
current_users = ['chen','tong','shin','keen']
new_users = ['Chen','Tong','rebecca','jelly','Anna']

In [2]:
for new_user in new_users:
    if new_user.lower() in current_users: # just change the list name after in
        print(f'{new_user} is already been used! please change!')
    else:
        print('username is available')

Chen is already been used! please change!
Tong is already been used! please change!
username is available
username is available
username is available

5-11 Ordinal Numbers

In [36]:
ordinals = [1,2,3,4,5,6,7,8,9]
for ordinal in ordinals:
    if ordinal ==1:
        print('1st')
    elif ordinal == 2:
        print('2nd')
    elif ordinal == 3:
        print('3rd')
    else:
        print(f'{ordinal}th')

1st
2nd
3rd
4th
5th
6th
7th
8th
9th

### styling your if statements

The only recommendation PEP 8 provides for styling conditional tests is to use a single space around comparison operators, such as ==, >=, and <=. For example:

In [ ]:
if age < 4: